<table>
  <tr>
    <td>name</td>
    <td></td>
    <td>site</td>
    <td></td>
    <td>phone</td>
    <td></td>
  </tr>
  <%@schools.each do |school|%>

    <tr>
      <td><%=school.sname%></td><td></td>
      <td><%=school.ssite%></td><td></td>
      <td><%=school.sphone%></td><td></td>

      <td><%=link_to 'exit',edit_school_path(school)%></td>
      <td><%=link_to 'destroy',school_path(school),
      method: :delete,
      data:{confirm: 'Are you sure'}%></td>

    </tr>
  <% end %>
</table>
<%=link_to 'new shcool',new_school_path%>
